.p{ text-align: center;}



.m,.h{background-color: rgba(165, 42, 42, 0.696);
display: inline-block;
border: solid; width: 60px;height: 35px;
/* float: left; */
font-size: larger; 
margin: 30px;




}

.h{display: none;

    /* visibility: hidden;} */


}