#a1{ color: black;}
#a2{ color: blue;}
#a3{ color: rgb(222, 143, 25);}
#a4{color: rgb(222, 143, 25);}
#a5{  background-color: rgba(222, 143, 25, 0.37);}
#a6{color: rgb(255, 0, 0);}
#a7{color: blue;}
#a8{color: red;}
#a9{color: blue;}
#a10{color: blue;}
#a11{color: blue;}
#a12{color: blue;}
#a13{color: blue;}
#a14{color: red;}
#b{font-family: serif;font-size: large;}