.body{font-family: serif; font-size:large;
width: 50%; height: 50%;}
#a{color: orange;}


#c{ color: aliceblue; background-image: 
    url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRCdXUK9nJNBddHaC_5n8d7rgb0cLaAdrTWg&usqp=CAU);}